#hero_page_button{
    background: url('../Images/button.png');
    width: 300px;
    height: 100px;
}
#hero_body{
    height: calc(100vh - 13vh);
    margin-top: 78px;
}
@media (max-width:600px) {
    #hero_body{
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content:stretch;
    }
    #hero_para{
        margin-top:13vh;
    }
    #hero_img{
        margin-top:70px;
        margin-right: -250px;
        height: 57vh;
        width: 58vw;
    }
    #hero_page_button{
        width: 50%;
        height: 20%;
    }
}