#category-img{
    size: 30px;
    border-radius: 2px ;
}
#category-img:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    cursor: pointer;
}
#category-item{
    border: 2px solid black;
    padding: 5px;
    border-radius: 3px;
    background: #1d293d;
    color: white;
}

@media (max-width:600px) {
    #category{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    #category-item{
        border: 2px solid black;
        padding: 5px;
        border-radius: 3px;
        background: #1d293d;
        color: white;
    }
}

